{% extends 'core/header.html' %}
{% load static %}

{% block content %}
        <!--<script src="static/core/js/index_ajax.js"></script>-->
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">About Me</h2>
                        
                        <div class="content">
                            <p id="about"></p>
                        </div><!--//content-->

                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
                <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Education</h2>
                        <div class="content" id="eduaction">

                        </div><!--//content-->
                        <div class="content">
                            
                    </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
               
            </div><!--//primary-->


        
{% endblock %}

{% block certifications %}
<aside class="education aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Latest Courses</h2>
        <div class="content" id="certificate">
            
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->


        
{% endblock %}
